/* https://github.com/BafS/mu/blob/gh-pages/mu.css */

*, *:after, *:before {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

body {
  /*background-color: #f2f2f2;*/
  background-color: #f4f3ee;
  color: #0f0d0a;
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 40px auto;
  max-width: 768px;
  padding: 0 20px;
}

.flex-grid {
  display: flex;
}

.col-top {
  flex: 1;
  text-align: center;
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 10px;
}

.col-top.active, .col-top:hover {
  background: #66449D;
  color: white;
}

hr {
  border-bottom: 1px solid #7d5415;
}

.row {
  display: block;
  width: auto;
  min-height: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .c {
  float: left;
  padding: 0.75em;
}

table, .g2, .g3, .g3-2, .m2, .m3, .m3-2 {
  width: 100%;
}

table {
  font-size: 10px;
}

tr:last-child td {
  border-bottom: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-bottom: 25px;
}

td, th, hr {
  border-bottom: 1px solid #ddd;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 75px auto 10px;
}

section {
  clear: both;
}

section.sessions {
  margin-top: 50px;
}

a {
  color: steelblue;
  font-weight: bold;
}

a.ex-link {
  text-decoration: underline;
  color: steelblue;
  cursor: pointer;  
}

p.note {
  font-size: 14px;
  margin: 5px 0;
}

input#main-search {
  width: 100%;
  font-size: 30px;
  padding: 15px;
  background: white;
}

p.share, input.share-box {
  display: inline-block;
  margin: 5px 0 0 0;
}

input.share-box {
  font-size: 14px;
}

div.filterable {
  background-color: white;
  margin-bottom: 50px;
}

div.topper {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

p.title {
  margin: 0;
  font-weight: bold;
}

p.timeplace {
  font-style: italic;
  margin: 5px auto;
  font-size: 16px;
}

p.tags {
  color: #ccc;
  font-size: 14px;
}

div.speaker-wrap {
  margin-bottom: 20px;
}

p.speaker {
  border: 1px solid #f4f3ee;
  padding: 10px;
  cursor: pointer;
  margin: 0;
}

p.speaker:hover {
  background: #f4f3ee;
}

p.bio {
  display: none;
  border-bottom: 1px solid #f4f3ee;
  border-right: 1px solid #f4f3ee;
  border-left: 1px solid #f4f3ee;
  padding: 10px;
  margin: 0;
}

span.session-label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 5px;
  vertical-align: text-top;
  color: white;
}

div.labeldiv {
  text-align: left;
  margin-top: 10px;
}

div.filterable.panel {
  border: 1px solid #66449D;
  border-left: 10px solid #66449D;
}

div.filterable.hands-on {
  border: 1px solid #ae726a;
  border-left: 10px solid #ae726a;
}

div.filterable.commons {
  border: 1px solid #bf7836;
  border-left: 10px solid #bf7836;
}

div.filterable.master-class {
  border: 1px solid #6aae8a;
  border-left: 10px solid #6aae8a;
}

div.filterable.demo {
  border: 1px solid #113421;
  border-left: 10px solid #113421;
}

span.label-panel {
  background: #66449D;
}

span.label-hands-on {
  background: #ae726a;
}

span.label-commons {
  background: #bf7836;
}

span.label-demo {
  background: #113421;
}

span.label-master-class {
  background: #6aae8a;
}

div.card-content {
  padding: 15px;
}

div.description p:first-of-type {
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

span.arrow-symbol {
  color: #bbb;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }

  table {
    font-size: 14px;
  }
  .g2 {
    width: 50%;
  }

  .m2 {
    margin-left: 50%;
  }

  .g3 {
    width: 33.33%;
  }

  .g3-2 {
    width: 66.66%;
  }

  .m3 {
    margin-left: 33.33%;
  }

  .m3-2 {
    margin-left: 66.66%;
  }
  div.labeldiv {
    text-align: right;
    margin-top: 0;
  }

  div.clear {
     text-align: right;
  }

}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}